<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="v2.mvc.spring.blog.mapper.BlogMapper">

	<delete id="delete" parameterType="v2.mvc.spring.blog.vo.BlogEditRequestVO">
    <![CDATA[
	delete from 
		TB_BLG_CONT 
    where 
    	BLG_COMT_SEQ = #{BLG_CONT_SEQ}
    ]]>
	</delete>

</mapper>